.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.header {
  font-size: 2rem;
  background-color: #aed1e9;
  font-weight: 700;
  margin: 0;
  padding: 0.2rem;
}
.delete-all{
  background-color:  rgb(211, 181, 181);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.3rem 0 2rem 0;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: none;
}
.no-tasks-yet{
  font-size: 2rem;
  color: gray;
}
/* TODO */
.todo-list {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-item {
  margin: 1rem 0;
  padding: 1rem;
  width: 80%;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 0.1rem solid rgb(129, 211, 125);
}
.todo-text {
  font-size: 1.2rem;
  text-align: left;
  max-width: 15rem;
  white-space: normal;
  word-wrap: break-word;
  height: auto;
}
.not-done {
  background-color: rgb(237, 237, 237);
  border: 0.1rem solid gray;
}
.icon-complete {
  font-size: 1.5rem;
  color: green;
}
.incomplete{
  color:grey
}
.delete-el {
  font-size: 1.5rem;
  color: rgb(124, 78, 78);
}
.icon-list {
  font-size: 1.5rem;
  margin: 0.5rem;
}
/* FORM */
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-textarea {
  width: 20rem;
  min-height: 2rem;
  font-size: 1.5rem;
  padding: 0.4rem 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
  font-style: oblique;
  text-align: center;
  background-color: #e1edf5;
  border: none;
  resize: none;
  overflow: hidden;
  line-height: 1.4rem;
}

.submit-btn {
  background-color: #e1edf5;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.3rem 0 2rem 0;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: none;
}
.submit-delete-container{
  display: flex;
  justify-content: space-between;
}
/* SPINNER */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* center of the screen */
}

.spinner {
  border: 8px solid #f3f3f3; /* white circle */
  border-top: 8px solid #3498db; /* rotating part */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.25s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
