.App {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-size: 2rem;
  background-color: #bdd1de;
  font-weight: 700;
  margin: 0;
  padding: 0.2rem;
  width: 100%;
}
.delete-all {
  background-color: rgb(214, 192, 192);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.3rem 0 2rem 0;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: none;
}
.no-tasks-yet {
  font-size: 2rem;
  color: gray;
}
/* TODO */
.todo-list {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-item {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 20rem;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  border: 0.1rem solid rgb(109, 143, 109);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.todo-text {
  font-size: 1.2rem;
  text-align: left;
  max-width: 15rem;
  white-space: normal;
  word-wrap: break-word;
  height: auto;
  
}
.not-done {
  background-color: rgb(237, 237, 237);
  border: 0.1rem solid gray;
}
.icon-complete {
  font-size: 1.5rem;
  color: green;
  /* padding: 0.5rem; */
}
.incomplete {
  color: grey;
}
.delete-el {
  font-size: 1.5rem;
  color: rgb(124, 78, 78);
}
.icon-list {
  font-size: 1.5rem;
  /* padding: 0.5rem; */
}
/* FORM */
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-textarea {
  width: 20rem;
  min-height: 2rem;
  font-size: 1.5rem;
  padding: 0.4rem 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
  font-style: oblique;
  text-align: center;
  background-color: #e1edf5;
  border: none;
  resize: none;
  overflow: hidden;
  line-height: 1.4rem;
  outline: none;
}
.todo-textarea:focus {
  box-shadow: 1px 1px 2px 0 rgb(173, 173, 173);
}

.submit-btn {
  background-color: #e1edf5;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 2rem 0;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: none;
}
.submit-delete-container {
  display: flex;
  justify-content: space-between;
}
.task-complited {
  font-size: 1.3rem;
  color: rgb(75, 75, 75);
  margin: 0;
}
/* Question */
.question-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.question {
  background: white;
  padding: 20px;
  width: 260px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.25s ease;
}
.question-text {
  font-size: 2rem;
}
.yes-btn,
.no-btn {
  margin: 1rem;
  padding: 0.3rem 1rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem;
}
.yes-btn {
  background-color: #aed470;
}
.no-btn {
  background-color: #d17373;
}
/* SPINNER */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* center of the screen */
}

.spinner {
  border: 8px solid #f3f3f3; /* white circle */
  border-top: 8px solid #3498db; /* rotating part */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.25s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and (min-width: 600px) {
  .submit-btn {
    cursor: pointer;
  }
  .submit-btn:hover {
    box-shadow: 0 1px 5px 0;
  }
  .delete-all {
    cursor: pointer;
  }
  .delete-all:hover {
    box-shadow: 0 1px 5px 0;
  }
  .todo-item{
    width: 30rem;
  }
  .todo-item:hover {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }
  .yes-btn:hover,
  .no-btn:hover {
    box-shadow: 0 1px 5px 0;
    cursor: pointer;
  }
  .todo-textarea{
    width: 30rem;
  }
  .todo-textarea:hover{
    box-shadow: 0 1px 5px 0;
  }
  .todo-list{
    width: 70%;
      }
    .todo-text{
      font-size: 1.4rem;
    }
}
