.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.header {
  font-size: 2rem;
  background-color: #aed1e9;
  font-weight: 700;
  margin: 0;
  padding: 0.2rem;
}

/* TODO */
.todo-list {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-item {
  margin: 1rem 0;
  width: 70%;
  background-color: #d38f8f;
  display: flex;
}
.todo-text {
  padding: 0.5rem;
}
.not-done {
  background-color: bisque;
}
/* FORM */
.form-container {
  display: flex;
  justify-content: center;
}

input {
  border: none;
}
.form-container input {
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border-color: none;
  font-style: oblique;
  text-align: center;
  background-color: #e1edf5;
}

.submit-btn {
  background-color: #e1edf5;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.3rem 0 2rem 0;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
}
/* SPINNER */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* center of the screen */
}

.spinner {
  border: 8px solid #f3f3f3; /* white circle */
  border-top: 8px solid #3498db; /* rotating part */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.25s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
